<section class="relative bg-[url('../assets/5.jpg')] bg-cover bg-center bg-no-repeat min-h-screen h-[100svh] mb-10 bg-opacity-50" id="gran-dia">
    <div class="">
        <div class="absolute inset-0 bg-black bg-opacity-50"></div>
        <div class="relative z-10 max-w-4xl mx-auto p-8 text-white mb-9">
            
            <!-- Itinerario -->
            <h2 class="text-3xl font-bold text-center mb-6 josefin-sans-type">El Gran Día</h2>
            <div class="text-center font-serif italic mb-8 text-natural-sel font-bold">
                Nuestros padres han sido nuestra guía y nuestro ejemplo, enseñándonos el significado del verdadero compromiso y la familia.
            </div>
            <div class="flex flex-col sm:flex-row justify-around text-center josefin-sans-type">
                <div class="mb-6">
                    <h3 class="font-semibold text-lg">💙 Padres del Novio</h3>
                    <p class="text-natural-sel font-bold">Marcos Hernández Huerta</p>
                    <p class="text-natural-sel font-bold">Cruz Maribel Escamilla Tobón</p>
                </div>
                <div>
                    <h3 class="font-semibold text-lg">❤️ Padres de la Novia</h3>
                    <p class="text-natural-sel font-bold">Aldo Berra García</p>
                    <p class="text-natural-sel font-bold">Nory Pérez Olán</p>
                </div>
            </div>
        
    
            <ol class="relative border-s border-gray-200  mt-9 josefin-sans-type mb-10">
                <li class="mb-10 ms-6">
                    <span class="absolute flex items-center justify-center w-6 h-6 bg-gold-sel rounded-full -start-3 ring-8 ring-white ">
                        📍
                    </span>
                    <h3 class="text-lg font-semibold">Ceremonia</h3>
                    <time class="block mb-2 text-sm font-normal text-gray-300">26 Jul - 5:00 PM</time>
                    <p class="text-base font-normal">Nos reuniremos para celebrar nuestro amor en la iglesia de San Pedro.</p>
                    <a class="flex items-center space-x-2 text-gold-sel" href="https://maps.app.goo.gl/eERry6gPaibb7Zsr7" target="_blank">
                        <svg class="w-6 h-6 text-gold-sel " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                            <path fill-rule="evenodd" d="M11.906 1.994a8.002 8.002 0 0 1 8.09 8.421 7.996 7.996 0 0 1-1.297 3.957.996.996 0 0 1-.133.204l-.108.129c-.178.243-.37.477-.573.699l-5.112 6.224a1 1 0 0 1-1.545 0L5.982 15.26l-.002-.002a18.146 18.146 0 0 1-.309-.38l-.133-.163a.999.999 0 0 1-.13-.202 7.995 7.995 0 0 1 6.498-12.518ZM15 9.997a3 3 0 1 1-5.999 0 3 3 0 0 1 5.999 0Z" clip-rule="evenodd"/>
                        </svg>
                        <span>Ubicación</span>
                    </a>
                </li>
                <li class="mb-10 ms-6">
                    <span class="absolute flex items-center justify-center w-6 h-6 bg-gold-sel rounded-full -start-3 ring-8 ring-white ">
                        🎉
                    </span>
                    <h3 class="text-lg font-semibold">Recepción</h3>
                    <time class="block mb-2 text-sm font-normal text-gray-300">26 Jul - 6:00 PM</time>
                    <p class="text-base font-normal">Disfrutemos juntos una noche llena de amor, risas y baile.</p>
                    <a class="flex items-center space-x-2 text-gold-sel" href="https://maps.app.goo.gl/eERry6gPaibb7Zsr7" target="_blank">
                        <svg class="w-6 h-6 text-gold-sel " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                            <path fill-rule="evenodd" d="M11.906 1.994a8.002 8.002 0 0 1 8.09 8.421 7.996 7.996 0 0 1-1.297 3.957.996.996 0 0 1-.133.204l-.108.129c-.178.243-.37.477-.573.699l-5.112 6.224a1 1 0 0 1-1.545 0L5.982 15.26l-.002-.002a18.146 18.146 0 0 1-.309-.38l-.133-.163a.999.999 0 0 1-.13-.202 7.995 7.995 0 0 1 6.498-12.518ZM15 9.997a3 3 0 1 1-5.999 0 3 3 0 0 1 5.999 0Z" clip-rule="evenodd"/>
                        </svg>
                        <span>Ubicación</span>
                    </a>
                </li>
                <!--<li class="ms-6">
                    <span class="absolute flex items-center justify-center w-6 h-6 bg-gold-sel rounded-full -start-3 ring-8 ring-white ">
                        🍰
                    </span>
                    <h3 class="text-lg font-semibold">Corte de Pastel</h3>
                    <time class="block mb-2 text-sm font-normal text-gray-300">9:30 PM</time>
                    <p class="text-base font-normal">Un dulce momento para compartir con todos nuestros seres queridos.</p>
                </li> -->
            </ol>
        </div>
    </div>
</section>
