<div class="flex flex-col items-center justify-center ">
    <div class="flex space-x-4 text-lg font-bold">
      <div class="text-center text-mocha-sel">
        <span class="text-2xl text-white">{{ days }}</span><br/>Días
      </div>
      <div class="text-center text-mocha-sel">
        <span class="text-2xl text-white">{{ hours }}</span><br />Hrs
      </div>
      <div class="text-center text-mocha-sel">
        <span class="text-2xl text-white">{{ minutes }}</span><br />Min
      </div>
      <div class="text-center text-mocha-sel">
        <span class="text-2xl text-white">{{ seconds }}</span><br />Seg
      </div>
    </div>
</div>