.nombres {
    font-family: "Handlee", cursive;
    font-weight: bold;
    font-style: normal;
    font-size: 300%;
}

.gender {
    font-family: "Euphoria Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
}

.text-box {
    background-color: rgb(0, 0, 0);
}