/* You can add global styles to this file, and also import other style files */


@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --natural-sel: #C9AF9E;
    --gold-sel: #B98651;
    --mocha-sel: #A25C43;
    --copper-sel: #CB6439;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.text-mocha {
    color: var(--mocha-sel);
}

.text-gold {
    color: var(--gold-sel);
}

.home-bg {
    background-image: url('../assets/2-1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    height: 100svh;
}

.very-top {
    z-index: 999999;
}


.bg-style {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.josefin-sans-type {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.josefin-sans-title{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.handlee-regular {
    font-family: "Handlee", cursive;
    font-weight: 400;
    font-style: normal;
}
