<div class="relative min-h-screen flex flex-col items-center justify-center home-bg mt-9 full-screen w-full h-full">
    <!-- Encabezado Animado -->
    <h1 id="titulo" class="text-5xl font-bold text-mocha-sel opacity-0 titulo-principal  mt-9">
      A | M
    </h1>
    <h2 class="text-4xl font-bold text-center text-gold-sel mb-9 mt-2 josefin-sans-type">26      JUL     25</h2>
    
    <!-- Detalles clave -->
    <div class="mt-6 space-y-3 text-center josefin-sans-type text-box mr-6 ms-6 mb-9">        
        <div class="block max-w-sm p-6 /30  rounded-lg shadow-sm hover:bg-white/40 /30  /40">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-mocha-sel ">
                "Y sobre todas estas cosas vestíos de amor, que es el vínculo perfecto."
            </h5>
            <p class="font-normal text-white  font-bold">
                Colosenses 3:14
            </p>
        </div>
        <app-cuenta-regresiva></app-cuenta-regresiva>
    
      
      <!--<p class="text-5xl font-bold text-natural-sel flex items-center justify-center">
        <i class="fas fa-map-marker-alt text-[#CB6439] mr-2"></i> “Y sobre todas estas cosas vestíos de amor, que es el vínculo perfecto.”
      </p>
      <p class="text-5xl font-bold text-natural-sel flex items-center justify-center">
        <i class="fas fa-map-marker-alt text-[#CB6439] mr-2"></i> Colosenses 3:14
      </p>-->
    </div>
    
    <!-- Botón flotante -->
    <a href="https://wa.me/529333257892?text=Confirmo la asistencia de: (Ingrersa aqui los nombres de los invitados confirmados..)" id="botonRSVP" 
      class="fixed bottom-6 right-6 bg-[#CB6439] text-white px-5 py-3 rounded-full shadow-lg opacity-0 hover:bg-[#A25C43] transition-all very-top" target="_blank">
      Confirma tu asistencia
    </a>
</div>
<app-historia></app-historia>
<app-gran-dia></app-gran-dia>
<app-dress-code></app-dress-code>
<app-mesa-regalos></app-mesa-regalos>
<app-galeria></app-galeria>
<app-footer></app-footer>
  