<div class="relative min-h-screen flex flex-col items-center justify-center home-bg">
    <!-- Encabezado Animado -->
    <h1 id="titulo" class="text-5xl font-bold text-mocha-sel opacity-0 titulo-principal ">
      A | J
    </h1>
    <h2 class="text-4xl font-bold text-center text-gold-sel mb-9 mt-9">28      JUN     25</h2>
    
    <!-- Imagen de la Pareja -->
    <img id="imagenPareja" src="" alt="Pareja" 
      class="mt-6 w-60 h-60 object-cover rounded-full  opacity-0">
    
    <!-- Detalles clave -->
    <div class="mt-6 space-y-3 text-center">
        
        <a href="#" class="block max-w-sm p-6 bg-natural-sel dark:bg-gray-800/30 dark:border-gray-700 rounded-lg shadow-sm hover:bg-white/40 dark:bg-gray-800/30 dark:border-gray-700 dark:hover:bg-gray-700/40">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-mocha-sel dark:text-white">
                "Y sobre todas estas cosas vestíos de amor, que es el vínculo perfecto."
            </h5>
            <p class="font-normal text-gold-sel dark:text-gray-400">
                Colosenses 3:14
            </p>
        </a>
    
      
      <!--<p class="text-5xl font-bold text-natural-sel flex items-center justify-center">
        <i class="fas fa-map-marker-alt text-[#CB6439] mr-2"></i> “Y sobre todas estas cosas vestíos de amor, que es el vínculo perfecto.”
      </p>
      <p class="text-5xl font-bold text-natural-sel flex items-center justify-center">
        <i class="fas fa-map-marker-alt text-[#CB6439] mr-2"></i> Colosenses 3:14
      </p>-->
    </div>
    
    <!-- Botón flotante -->
    <a href="/confirmacion" id="botonRSVP" 
      class="fixed bottom-6 right-6 bg-[#CB6439] text-white px-5 py-3 rounded-full shadow-lg opacity-0 hover:bg-[#A25C43] transition-all very-top">
      Confirma tu asistencia
    </a>
</div>
<app-historia></app-historia>
<app-gran-dia></app-gran-dia>
  